<a href="https://colab.research.google.com/github/PaulEbenezer454/Website/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a NumPy array of daily temperatures (°C) for 10 days: [30, 32, 29, 35, 28, 31,
33, 36, 34, 30]. Print the array.

In [ ]:
import numpy as np
daily_temperatures = np.array([30, 32, 29, 35, 28, 31, 33, 36, 34, 30])
print(daily_temperatures)

[30 32 29 35 28 31 33 36 34 30]

2. Create arrays using NumPy:
a) An array of 7 zeros to represent missing rainfall values (in mm) for a week.
b) An array of 7 ones to represent days where rainfall was recorded.
c) An uninitialized array of size 5 using empty() for placeholder humidity values.

In [ ]:
print('ulk23cs1001')
import numpy as np

missing_rainfall = np.zeros(7)
print("Missing Rainfall (zeros):", missing_rainfall)

recorded_rainfall = np.ones(7)
print("Recorded Rainfall (ones):", recorded_rainfall)
humidity_placeholders = np.empty(5)
print("Humidity Placeholders (empty):", humidity_placeholders)

ulk23cs1001
Missing Rainfall (zeros): [0. 0. 0. 0. 0. 0. 0.]
Recorded Rainfall (ones): [1. 1. 1. 1. 1. 1. 1.]
Humidity Placeholders (empty): [0.   0.25 0.5  0.75 1.  ]

3. Generate a random array of 15 integers between 40 and 100 to represent humidity
percentages. Print its dimensions, shape, size, and data type.

In [ ]:
print('ulk23cs1001')
import numpy as np

humidity_percentages = np.random.randint(low=40, high=101, size=15)

print("Humidity Percentages Array:")
print(humidity_percentages)

print("\nArray Properties:")
print("Dimensions (ndim):", humidity_percentages.ndim)
print("Shape (shape):", humidity_percentages.shape)
print("Size (size):", humidity_percentages.size)
print("Data Type (dtype):", humidity_percentages.dtype)

ulk23cs1001
Humidity Percentages Array:
[79 60 67 95 48 46 67 90 97 92 51 45 67 86 47]

Array Properties:
Dimensions (ndim): 1
Shape (shape): (15,)
Size (size): 15
Data Type (dtype): int64

4. Create a NumPy array of temperature readings from 25 to 45 °C (step of 2).

   a) Extract the first 3 values.

   b) Extract the last 4 values.

   c) Print every alternate temperature.

In [ ]:
print('ulk23cs1001')
import numpy as np

temperatures = np.arange(25, 46, 2)
print("Original Temperature Array:")
print(temperatures)

first_three = temperatures[:3]
print("\nFirst 3 values:", first_three)
last_four = temperatures[-4:]
print("Last 4 values:", last_four)
alternate_temperatures = temperatures[::2]
print("Every alternate temperature:", alternate_temperatures)

ulk23cs1001
Original Temperature Array:
[25 27 29 31 33 35 37 39 41 43 45]

First 3 values: [25 27 29]
Last 4 values: [39 41 43 45]
Every alternate temperature: [25 29 33 37 41 45]

5. Create a NumPy array [10, 15, 20, 25, 30, 35, 40, 45] representing daily rainfall (mm).

  o Print the 4th day's rainfall.

  o Extract rainfall data for the first 3 days.

  o Extract rainfall data for the last 2 days.

In [ ]:
print('ulk23cs1001')
import numpy as np

daily_rainfall = np.array([10, 15, 20, 25, 30, 35, 40, 45])
print("Daily Rainfall Array:", daily_rainfall)

fourth_day_rainfall = daily_rainfall[3]
print("4th day's rainfall:", fourth_day_rainfall)
first_three_days_rainfall = daily_rainfall[:3]
print("Rainfall for the first 3 days:", first_three_days_rainfall)
last_two_days_rainfall = daily_rainfall[-2:]
print("Rainfall for the last 2 days:", last_two_days_rainfall)

ulk23cs1001
Daily Rainfall Array: [10 15 20 25 30 35 40 45]
4th day's rainfall: 25
Rainfall for the first 3 days: [10 15 20]
Rainfall for the last 2 days: [40 45]

6. Create a 1D NumPy array with 12 random integers between 0 and 100 representing
monthly average temperatures. Sort the array in ascending order and print all unique
values.

In [ ]:
print('ulk23cs1001')
import numpy as np


monthly_temps = np.random.randint(low=0, high=101, size=12)
print("Original Monthly Temperatures:", monthly_temps)


sorted_temps = np.sort(monthly_temps)
print("Sorted Monthly Temperatures:", sorted_temps)

unique_temps = np.unique(sorted_temps)
print("Unique Monthly Temperatures:", unique_temps)

ulk23cs1001
Original Monthly Temperatures: [29 28 24  6 47 24 58 60  0 38 75  6]
Sorted Monthly Temperatures: [ 0  6  6 24 24 28 29 38 47 58 60 75]
Unique Monthly Temperatures: [ 0  6 24 28 29 38 47 58 60 75]

7. Create a NumPy array [5, 15, 25, 35, 45, 55, 65, 75] representing daily wind speed
(km/h). Find the index of wind speed 35 and the index of the maximum and
minimum speeds.

In [ ]:
print('ulk23cs1001')
import numpy as np

wind_speed = np.array([5, 15, 25, 35, 45, 55, 65, 75])
print("Daily Wind Speed Array:", wind_speed)

index_of_35 = np.where(wind_speed == 35)[0][0]
print("Index of wind speed 35:", index_of_35)

index_of_max_speed = np.argmax(wind_speed)
print("Index of maximum speed:", index_of_max_speed)

index_of_min_speed = np.argmin(wind_speed)
print("Index of minimum speed:", index_of_min_speed)

ulk23cs1001
Daily Wind Speed Array: [ 5 15 25 35 45 55 65 75]
Index of wind speed 35: 3
Index of maximum speed: 7
Index of minimum speed: 0

8. Generate a NumPy array of 20 random integers between 0 and 200 representing
rainfall in mm. Extract all days with rainfall > 100 mm and all days with rainfall
divisible by 10.

In [ ]:
print('ulk23cs1001')
import numpy as np

rainfall_data = np.random.randint(low=0, high=201, size=20)
print("Original Rainfall Data (mm):", rainfall_data)

heavy_rainfall_days = rainfall_data[rainfall_data > 100]
print("Days with rainfall > 100 mm:", heavy_rainfall_days)

divisible_by_10_days = rainfall_data[rainfall_data % 10 == 0]
print("Days with rainfall divisible by 10:", divisible_by_10_days)

ulk23cs1001
Original Rainfall Data (mm): [ 53  31 110  93 159  75 101 120  92  90 197  29  31 168 147 170  26 155
  76   8]
Days with rainfall > 100 mm: [110 159 101 120 197 168 147 170 155]
Days with rainfall divisible by 10: [110 120  90 170]

9. Create two 1D NumPy arrays:
T_max = [35, 36, 37, 38, 34] (maximum daily temperatures)
T_min = [25, 24, 26, 27, 23] (minimum daily temperatures).
Calculate the daily temperature range (T_max - T_min) and print T_max + T_min and
T_max / T_min.

In [1]:
print('ulk23cs1001')
import numpy as np

T_max = np.array([35, 36, 37, 38, 34])
T_min = np.array([25, 24, 26, 27, 23])

print("Maximum Daily Temperatures (T_max):", T_max)
print("Minimum Daily Temperatures (T_min):", T_min)

temperature_range = T_max - T_min
print("\nDaily Temperature Range (T_max - T_min):", temperature_range)

sum_temps = T_max + T_min
print("T_max + T_min:", sum_temps)

division_temps = T_max / T_min
print("T_max / T_min:", division_temps)

ulk23cs1001
Maximum Daily Temperatures (T_max): [35 36 37 38 34]
Minimum Daily Temperatures (T_min): [25 24 26 27 23]

Daily Temperature Range (T_max - T_min): [10 12 11 11 11]
T_max + T_min: [60 60 63 65 57]
T_max / T_min: [1.4        1.5        1.42307692 1.40740741 1.47826087]

10. Create an array of 30 random integers between 10 and 40 representing hourly
temperature readings. Print the total, the highest and lowest temperatures, and the average of the first 10 readings.

In [2]:
print('ulk23cs1001')
import numpy as np

hourly_temperatures = np.random.randint(low=10, high=41, size=30)
print("Hourly Temperature Readings:", hourly_temperatures)

total_temperature = np.sum(hourly_temperatures)
print("Total Temperature:", total_temperature)

highest_temperature = np.max(hourly_temperatures)
print("Highest Temperature:", highest_temperature)

lowest_temperature = np.min(hourly_temperatures)
print("Lowest Temperature:", lowest_temperature)


first_10_readings = hourly_temperatures[:10]
average_first_10 = np.mean(first_10_readings)
print("Average of the first 10 readings:", average_first_10)

ulk23cs1001
Hourly Temperature Readings: [28 15 27 33 29 29 16 32 14 20 26 12 19 10 11 16 39 28 30 31 30 32 16 19
 40 19 26 13 13 32]
Total Temperature: 705
Highest Temperature: 40
Lowest Temperature: 10
Average of the first 10 readings: 24.3

11. Create a 1D array of numbers from 1 to 12 representing months. Reshape it into an
array with 4 rows and 3 columns to represent seasonal data, then flatten it back to
1D.

In [3]:
print('ulk23cs1001')
import numpy as np

months_1d = np.arange(1, 13)
print("Original 1D Array (Months):", months_1d)

seasonal_data = months_1d.reshape(4, 3)
print("\nReshaped 2D Array (Seasonal Data):")
print(seasonal_data)


flattened_array_copy = seasonal_data.flatten()
print("\nFlattened Array (Copy, using flatten()):", flattened_array_copy)

flattened_array_view = seasonal_data.ravel()
print("Flattened Array (View, using ravel()):", flattened_array_view)

ulk23cs1001
Original 1D Array (Months): [ 1  2  3  4  5  6  7  8  9 10 11 12]

Reshaped 2D Array (Seasonal Data):
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

Flattened Array (Copy, using flatten()): [ 1  2  3  4  5  6  7  8  9 10 11 12]
Flattened Array (View, using ravel()): [ 1  2  3  4  5  6  7  8  9 10 11 12]

12. Create two arrays of 10 random integers each between 10 and 50 representing
rainfall (mm) in two different cities. Perform element-wise addition, subtraction, and
multiplication to compare rainfall.

In [4]:
print('ulk23cs1001')
import numpy as np

rainfall_city_a = np.random.randint(low=10, high=51, size=10)
rainfall_city_b = np.random.randint(low=10, high=51, size=10)

print("Rainfall in City A (mm):", rainfall_city_a)
print("Rainfall in City B (mm):", rainfall_city_b)


total_rainfall = rainfall_city_a + rainfall_city_b
print("\nElement-wise Addition (Total rainfall):", total_rainfall)


difference_rainfall = rainfall_city_a - rainfall_city_b
print("Element-wise Subtraction (Difference in rainfall):", difference_rainfall)

product_rainfall = rainfall_city_a * rainfall_city_b
print("Element-wise Multiplication (Product of rainfall):", product_rainfall)

ulk23cs1001
Rainfall in City A (mm): [13 15 34 33 48 27 21 28 40 30]
Rainfall in City B (mm): [22 20 24 41 50 47 31 29 32 12]

Element-wise Addition (Total rainfall): [35 35 58 74 98 74 52 57 72 42]
Element-wise Subtraction (Difference in rainfall): [ -9  -5  10  -8  -2 -20 -10  -1   8  18]
Element-wise Multiplication (Product of rainfall): [ 286  300  816 1353 2400 1269  651  812 1280  360]

13. Create an array of 15 random integers between 50 and 100 representing humidity
levels. Sort the values, extract all humidity levels above 80, and find the unique
humidity levels and their sum.

In [5]:
print('ulk23cs1001')
import numpy as np

humidity_levels = np.random.randint(low=50, high=101, size=15)
print("Original Humidity Levels:", humidity_levels)

sorted_humidity = np.sort(humidity_levels)
print("Sorted Humidity Levels:", sorted_humidity)

high_humidity = sorted_humidity[sorted_humidity > 80]
print("Humidity Levels above 80:", high_humidity)

unique_humidity = np.unique(sorted_humidity)
print("Unique Humidity Levels:", unique_humidity)


sum_unique_humidity = np.sum(unique_humidity)
print("Sum of Unique Humidity Levels:", sum_unique_humidity)

ulk23cs1001
Original Humidity Levels: [96 65 70 90 66 70 64 94 89 83 74 53 59 60 74]
Sorted Humidity Levels: [53 59 60 64 65 66 70 70 74 74 83 89 90 94 96]
Humidity Levels above 80: [83 89 90 94 96]
Unique Humidity Levels: [53 59 60 64 65 66 70 74 83 89 90 94 96]
Sum of Unique Humidity Levels: 963

14. Create a NumPy array of 7 floating-point numbers representing weekly average
temperatures and convert its data type to integers. Print the data type before and
after conversion.

In [6]:
print('ulk223cs1001')
import numpy as np


weekly_temps_float = np.array([25.5, 26.8, 24.1, 27.3, 28.0, 26.2, 25.9])
print("Original Array (Floats):", weekly_temps_float)


print("Data type before conversion:", weekly_temps_float.dtype)


weekly_temps_int = weekly_temps_float.astype(int)
print("\nConverted Array (Integers):", weekly_temps_int)


print("Data type after conversion:", weekly_temps_int.dtype)

ulk223cs1001
Original Array (Floats): [25.5 26.8 24.1 27.3 28.  26.2 25.9]
Data type before conversion: float64

Converted Array (Integers): [25 26 24 27 28 26 25]
Data type after conversion: int64

15. Use NumPy’s arange and linspace to create arrays:

    a) A range of days from 1 to 30 with a step of 3.

    b) An array of 10 equally spaced temperature thresholds between 20°C and 40°

In [7]:
print('ulk23cs1001')
import numpy as np

days_array = np.arange(1, 31, 3)
print("Days Array (arange):", days_array)

temp_thresholds = np.linspace(20, 40, 10)
print("Temperature Thresholds (linspace):", temp_thresholds)

ulk23cs1001
Days Array (arange): [ 1  4  7 10 13 16 19 22 25 28]
Temperature Thresholds (linspace): [20.         22.22222222 24.44444444 26.66666667 28.88888889 31.11111111
 33.33333333 35.55555556 37.77777778 40.        ]

16. Iterate over a NumPy array [10, 20, 30, 40, 50] representing daily wind speeds and
print each speed along with a classification: "Low" (<20), "Medium" (20–40), or
"High" (>40).

In [8]:
print('ulk23cs1001')
import numpy as np

wind_speeds = np.array([10, 20, 30, 40, 50])

print("Daily Wind Speed Classification:")
for speed in wind_speeds:
    if speed < 20:
        classification = "Low"
    elif 20 <= speed <= 40:
        classification = "Medium"
    else:
        classification = "High"
    print(f"Speed: {speed} km/h - Classification: {classification}")

ulk23cs1001
Daily Wind Speed Classification:
Speed: 10 km/h - Classification: Low
Speed: 20 km/h - Classification: Medium
Speed: 30 km/h - Classification: Medium
Speed: 40 km/h - Classification: Medium
Speed: 50 km/h - Classification: High

17. Split a 1D NumPy array [5, 10, 15, 20, 25, 30] representing weekly rainfall data into
two equal parts.

In [9]:
print('ulk23cs1001')
import numpy as np

weekly_rainfall = np.array([5, 10, 15, 20, 25, 30])
print("Original Weekly Rainfall Data:", weekly_rainfall)

split_rainfall = np.split(weekly_rainfall, 2)
print("\nSplit Rainfall Data:")
print("Part 1:", split_rainfall[0])
print("Part 2:", split_rainfall[1])

ulk23cs1001
Original Weekly Rainfall Data: [ 5 10 15 20 25 30]

Split Rainfall Data:
Part 1: [ 5 10 15]
Part 2: [20 25 30]

18. Create a Pandas DataFrame from a NumPy array of shape (5, 3) to represent 5 days
with columns ['Temperature', 'Rainfall', 'Humidity']. Display the DataFrame.

In [10]:
import numpy as np
import pandas as pd

data = np.random.randint(low=10, high=40, size=(5, 3))
print("NumPy Array (5x3):")
print(data)
columns = ['Temperature', 'Rainfall', 'Humidity']
weather_df = pd.DataFrame(data, columns=columns)
print("\nPandas DataFrame:")
print(weather_df)

NumPy Array (5x3):
[[11 27 38]
 [34 14 17]
 [31 22 39]
 [24 15 16]
 [22 31 31]]

Pandas DataFrame:
   Temperature  Rainfall  Humidity
0           11        27        38
1           34        14        17
2           31        22        39
3           24        15        16
4           22        31        31

19. Convert the following into Pandas DataFrames:

 a) A Python list of cities.

 b) A tuple of average temperatures.

 c) A dictionary with city names as keys and rainfall (mm) as values.

In [11]:
print('ulk23cs1001')
import pandas as pd

cities_list = ['Chennai', 'Mumbai', 'Delhi', 'Bengaluru', 'Kolkata'] #
df_cities = pd.DataFrame(cities_list, columns=['City']) #
print("DataFrame from List of Cities:")
print(df_cities)


average_temps_tuple = (30.5, 32.1, 29.8, 31.0, 33.2) #
df_temps = pd.DataFrame(list(average_temps_tuple), columns=['Average Temperature (°C)']) #
print("\nDataFrame from Tuple of Average Temperatures:")
print(df_temps)


city_rainfall_dict = { #
    'Chennai': 1200,
    'Mumbai': 2500,
    'Delhi': 800,
    'Bengaluru': 1100,
    'Kolkata': 1800
}
df_rainfall = pd.DataFrame(list(city_rainfall_dict.items()), columns=['City', 'Rainfall (mm)']) #


print("\nDataFrame from Dictionary of City Rainfall:")
print(df_rainfall)

ulk23cs1001
DataFrame from List of Cities:
        City
0    Chennai
1     Mumbai
2      Delhi
3  Bengaluru
4    Kolkata

DataFrame from Tuple of Average Temperatures:
   Average Temperature (°C)
0                      30.5
1                      32.1
2                      29.8
3                      31.0
4                      33.2

DataFrame from Dictionary of City Rainfall:
        City  Rainfall (mm)
0    Chennai           1200
1     Mumbai           2500
2      Delhi            800
3  Bengaluru           1100
4    Kolkata           1800

20. Read a CSV file named weather_data.csv into a Pandas DataFrame. Display the first 5
rows, column names, and data types to inspect the dataset.

In [3]:
print('ulk23cs1001')
import pandas as pd

df = pd.read_csv("weatjher_data.csv.csv")

print("First 5 rows:")
print(df.head())

print("\nColumn Names:")
print(df.columns)

print("\nData Types:")
print(df.dtypes)

ulk23cs1001
First 5 rows:
   Outdoor Drybulb Temperature [C]  Outdoor Relative Humidity [%]  \
0                            17.81                          68.12
1                            16.14                          74.75
2                            16.10                          75.88
3                            16.10                          78.25
4                            16.16                          77.75

   Diffuse Solar Radiation [W/m2]  Direct Solar Radiation [W/m2]  \
0                             0.0                            0.0
1                             0.0                            0.0
2                             0.0                            0.0
3                             0.0                            0.0
4                             0.0                            0.0

   6h Prediction Outdoor Drybulb Temperature [C]  \
0                                          16.19
1                                          17.20
2                                          18.76
3                                          21.43
4                                          23.37

   12h Prediction Outdoor Drybulb Temperature [C]  \
0                                           25.29
1                                           25.96
2                                           25.90
3                                           26.08
4                                           25.84

   24h Prediction Outdoor Drybulb Temperature [C]  \
0                                           18.31
1                                           17.25
2                                           15.07
3                                           15.21
4                                           12.91

   6h Prediction Outdoor Relative Humidity [%]  \
0                                        76.47
1                                        72.65
2                                        67.54
3                                        56.74
4                                        50.20

   12h Prediction Outdoor Relative Humidity [%]  \
0                                         44.10
1                                         41.52
2                                         41.96
3                                         42.34
4                                         42.92

   24h Prediction Outdoor Relative Humidity [%]  \
0                                         67.32
1                                         72.46
2                                         82.54
3                                         80.86
4                                         93.52

   6h Prediction Diffuse Solar Radiation [W/m2]  \
0                                          0.00
1                                         41.67
2                                        101.65
3                                        151.99
4                                        187.61

   12h Prediction Diffuse Solar Radiation [W/m2]  \
0                                         171.45
1                                         132.00
2                                         118.76
3                                          69.99
4                                          34.75

   24h Prediction Diffuse Solar Radiation [W/m2]  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0

   6h Prediction Direct Solar Radiation [W/m2]  \
0                                         0.00
1                                        65.46
2                                       329.89
3                                       436.51
4                                       486.97

   12h Prediction Direct Solar Radiation [W/m2]  \
0                                        577.41
1                                        708.69
2                                        595.70
3                                        582.30
4                                        329.68

   24h Prediction Direct Solar Radiation [W/m2]
0                                           0.0
1                                           0.0
2                                           0.0
3                                           0.0
4                                           0.0

Column Names:
Index(['Outdoor Drybulb Temperature [C]', 'Outdoor Relative Humidity [%]',
       'Diffuse Solar Radiation [W/m2]', 'Direct Solar Radiation [W/m2]',
       '6h Prediction Outdoor Drybulb Temperature [C]',
       '12h Prediction Outdoor Drybulb Temperature [C]',
       '24h Prediction Outdoor Drybulb Temperature [C]',
       '6h Prediction Outdoor Relative Humidity [%]',
       '12h Prediction Outdoor Relative Humidity [%]',
       '24h Prediction Outdoor Relative Humidity [%]',
       '6h Prediction Diffuse Solar Radiation [W/m2]',
       '12h Prediction Diffuse Solar Radiation [W/m2]',
       '24h Prediction Diffuse Solar Radiation [W/m2]',
       '6h Prediction Direct Solar Radiation [W/m2]',
       '12h Prediction Direct Solar Radiation [W/m2]',
       '24h Prediction Direct Solar Radiation [W/m2]'],
      dtype='object')

Data Types:
Outdoor Drybulb Temperature [C]                   float64
Outdoor Relative Humidity [%]                     float64
Diffuse Solar Radiation [W/m2]                    float64
Direct Solar Radiation [W/m2]                     float64
6h Prediction Outdoor Drybulb Temperature [C]     float64
12h Prediction Outdoor Drybulb Temperature [C]    float64
24h Prediction Outdoor Drybulb Temperature [C]    float64
6h Prediction Outdoor Relative Humidity [%]       float64
12h Prediction Outdoor Relative Humidity [%]      float64
24h Prediction Outdoor Relative Humidity [%]      float64
6h Prediction Diffuse Solar Radiation [W/m2]      float64
12h Prediction Diffuse Solar Radiation [W/m2]     float64
24h Prediction Diffuse Solar Radiation [W/m2]     float64
6h Prediction Direct Solar Radiation [W/m2]       float64
12h Prediction Direct Solar Radiation [W/m2]      float64
24h Prediction Direct Solar Radiation [W/m2]      float64
dtype: object